#searchBar {
    width: 100%; 
    font-size: 16px; 
    padding: 12px 20px 12px 20px; 
    border:  1px solid #ddd;
    margin-bottom: 12px; 
}

#title {
  font-size: 25px;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }
  